*{
    margin: 0;
    padding: 0;
}
body{
    background: darkblue;
    display: flex;
    background: linear-gradient(80deg,#850606,#13005C, #0B005E );
    background-position: center;
}
.janelaCentral{
    padding: 0 30px;
    margin:50px auto;
    text-align: center;
    background: black;
    border-radius: 5px;
}
.janelaCentral, h2 h5{
    color: white;
}
.janelaCentral input{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: solid 2px orange;
    color: white;
    
}
.janelaCentral label{
    color: white;
}
.janelaCentral img{
    border-radius: 50%;
    padding-top: 10px;
}
.janelaCentral #link{
    padding: 10px 60px;
    background: darkred;
    color: white;
    font: large;
    border: none;
}
.modal-dialog, .modal-content ,.modal-header, .modal-body{
    background: rgb(34, 30, 30);
    color: white;
}
.janelaCentral #link:hover{
    background: rgb(187, 3, 3);

}
.janelaCentral a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 60px;
    border-radius: 5px;
    color: orange;
}
.janelaCentral a:hover{
    transition: all .3s;
    background: orange;
    color: white;
}
#mensagemCodigo{
    position: absolute;
    color: white;
    background: red;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    display: none;
    left: 50%;
    top: 30%;
    right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}