*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(31, 30, 30);

}
.card{
    border: none;
    background: black;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 1px 1px 30px 6px rgb(53, 53, 53);

}
#botoes_redes_sociais{
    width: 300px;
    padding: 30px;
    background: black;
    box-shadow: 1px 1px 30px 6px rgb(53, 53, 53);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
#botoes_redes_sociais #email{
    padding: 15px;
    width: 60px;
    border-radius: 50%;
    border: solid 1px red;
    text-align: center;
    font: large;
    font-size: 25px;
    background: transparent;
    color: red;
}
#botoes_redes_sociais #email:hover{
    transition: all .3s;
    background: red;
    color: white;
}
#botoes_redes_sociais #face{
    padding: 15px;
    width: 60px;
    border-radius: 50%;
    border: solid 1px blue;
    text-align: center;
    font: large;
    font-size: 25px;
    background: transparent;
    color: blue;
}
#botoes_redes_sociais #face:hover{
    transition: all .3s;
    background: blue;
    color: white;
}
#botoes_redes_sociais #insta{
    padding: 15px;
    width: 60px;
    border-radius: 50%;
    border: solid 1px violet;
    text-align: center;
    font: large;
    font-size: 25px;
    background: transparent;
    color: violet;
}
#botoes_redes_sociais #insta:hover{
    transition: all .3s;
    background: violet;
    color: white;
}
.espacamento{
    width: 100%;
    height: 100px;
    background-image: url(../imagens/barber-1453064_1920.jpg);
}

.pg_principal{
    width: 100%;
    height: 140vh;
    background: rgb(31, 30, 30);

    padding-top: 30px;
}
.pg_principal h1{
    color:white;
}

ul a{
    border-bottom: solid transparent;
    margin: 10px 5px;
    padding: 1em;
    padding-left: 100px;
    text-align: center;
}
#sair_sessao{
    border: none;
    margin: auto;
}
#sair_sessao:hover{
    border: none;
    margin: auto;

}
ul a:hover{
    border-bottom: solid darkred;
    color: white;
    transition: all .5s;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}

.card p{
    color: gray;
}

footer .nav{
    background: black;
    padding: 20px;
    color: white;
}
.nav li img{
    border-radius: 50%;
}
#alerta{
    border: solid 1px orange;
    color: orange;
    background: transparent;
}
#alerta h1{
    color: orange;
}
.img img{
    width: 300px;
    height: 300px;
    margin-left: 400px;
    border-radius: 50%;
}