*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(31, 30, 30);
}
#card_barbearia{
    margin: 10px 0px;
    border: none;
    box-shadow: 1px 1px 30px 6px rgb(53, 53, 53);

}
.espacamento{
    width: 100%;
    height: 100px;
    background-image: url(../imagens/barber-1453064_1920.jpg);
}

.pg_principal{
    width: 100%;
    padding: 20px;
    background-color: rgb(31, 30, 30);
    padding-top: 30px;
}
#card_info{
    border: solid 1px orange;
    background: transparent;
    color: orange;
}
#card_info h5{
    color: white;
}
#pesquisa input{
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.212);

}
ul a{
    border-bottom: solid transparent;
    margin: 10px 5px;
    padding: 1em;
    padding-left: 100px;
    text-align: center;
}
ul a:hover{
    border-bottom: solid darkred;
    color: white;
    transition: all .5s;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}
#recebeUsuario{
    color: white;
}
.card p{
    color: gray;
}
#fotoUsuarioSistema{
    border: solid 1px black;
    padding: 70px 70px;
    margin-left: 35%;
    border-radius: 50%;
}
footer .nav{
    background: black;
    padding: 10px;
    color: white;
}
.nav li img{
    border-radius: 50%;
}
#filtro{
    padding-bottom:20px;
}
#filtro input{
    margin: 10px 10px;
    border-radius: 5px;
}
#botao #filtrar{
    background: blue;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    transition: all .3s;
    
}
#botao #filtrar:hover{
    background: rgb(36, 36, 240);
}
#area_cards{
    width: 100%;
    height: 380vh;
}
#card_barbearia{
    background: black;
    box-shadow:  1px 1px 60px 10px black;
}
#card_barbearia, h5 h6{
    color: white;
}
#card_barbearia form #ser_cliente{
    background-color: darkred;
    border: none;
    box-shadow: 1px 1px 60px 10px darkred;
}