*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(80deg,#850606,#13005C, #0B005E );
    background-position: center;
}
#logo img{
    border-radius: 50%;
}
#login_cliente{
    width: 400px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background: black;
}
#login_cliente h1{
    border-bottom: solid orange;
    width: 180px;
    
}
#login_cliente #receber{
    margin: 20px 30px;
    
}
#login_cliente input{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: solid 2px orange;
    color: white;
}
#login_cliente label{
    color: white;
}
#login_cliente h1, p{
    color: white;
    text-align: center; 
}
#login_cliente ,p a{
    text-decoration: none;
    color: orange;
}
#login_cliente a:hover{
    color: yellow;
}
#login_cliente #entrar{
    background: darkred;
    color: white;
    padding: 10px 150px;
    border: none;
    font-size: larger;
    border-radius: 2px;
}
#login_cliente #entrar:hover{
    background: rgb(187, 3, 3);
}
#login_cliente #acess_login_barbearia{
    background: darkred;
    width: 50px;
    padding: 10px;
    color: white;
    font-size: larger;
    border-radius: 50%;
    border: none;
}
#login_cliente  #acess_login_barbearia:hover{
    background: rgb(187, 3, 3);
    
}
