*{
    color: #BF0F30;
    color: #590443
    #050259
    #D91414
    #0D0D0D;

    /*brilho*/
    color:#BF0F30
    #050259
    #D91414
    #F2F2F2
    #0D0D0D;

    /*suave*/
    color:#BF0F30
    #590443
    #050259
    #D91414
    #0D0D0D;

    /*escuro*/
    color: #400207
    #590443
    #050259
    #030140
    #252622;

}
/*
gradiente:#13005C,  #8B062D, #0A0060
#13005C, #0B005E, #850606*/