*{
    margin: 0;
    padding: 0;

}
body{
    width:100%;
    background: rgb(31, 30, 30);

}
.espacamento{
    width: 100%;
    height: 100px;
    background-image: url(../imagens/barber-1453064_1920.jpg);
}
.pg_principal{
    width: 100%;
    height: 140vh;
    background-color: rgb(31, 30, 30);
    padding-top: 30px;
}
.pg_principal h1{
    color:white;
}
#cadProcedimento{
    background: blue;
    border: none;
}
#imprimir{
    background: blue;
    border: none;
}
#alerta{
    border: solid 1px orange;
    color: orange;
    background: transparent;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}
footer .nav{
    background: black;
    padding: 20px;
    color: white;
}
.nav li img{
    border-radius: 50%;
}
ul a{
    border-bottom: solid transparent;
    margin: 10px 5px;
    padding: 1em;
    padding-left: 100px;
    padding: 0 50px;
    text-align: center;
}
ul a:hover{
    border-bottom: solid darkred;
    color: white;
    transition: all .5s;
}