*{
    margin: 0;
    padding: 0;

}
body{
    width:100%;
    background: rgb(31,30,30);
}
.espacamento{
    width: 100%;
    height: 100px;
    background-image: url(../imagens/barber-1453064_1920.jpg);
}
.pg_principal{
    width: 100%;
    height: 140vh;
    background-color: rgb(31,30,30);
    padding-top: 30px;
}
.pg_principal h1{
    color:white;
}
#alerta{
    background: transparent;
    color: orange;
    border: solid 1px orange;
}
#imprimir{
    background: blue;
    border: none;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}
#info_del_agenda{
    background: red;
    color: white;
    border: none;
}
footer .nav{
    background: black;
    padding: 20px;
    color: white;
}
.nav li img{
    border-radius: 50%;
}
ul a{
    border-bottom: solid transparent;
    margin: 10px 5px;
    padding: 1em;
    padding-left: 100px;
    padding: 0 50px;
    text-align: center;
}
#sair_sessao{
    border: none;
    margin: auto;
}
#sair_sessao:hover{
    border: none;
    margin: auto;

}
ul a:hover{
    border-bottom: solid darkred;
    color: white;
    transition: all .5s;
}