*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(31, 30, 30);
    
}
.card{
    background: black;
    border: none;
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 1px 1px 30px 6px rgb(53, 53, 53);

}
.card h5{
    color: orange;
}
.espacamento{
    width: 100%;
    height: 100px;
    background-image: url(../imagens/barber-1453064_1920.jpg);
}
.pg_principal{
    width: 100%;
    height: 140vh;
    background-color: rgb(31, 30, 30);
    padding-top: 30px;
}
#info_barbearia{
    border: solid 1px orange;
    background: transparent;
    color:orange;
}
#tabela_informacoes h5{
    color: white;
}
#fecha_modal{
    color: white;
    font: large;
}
.modal-header{
    background: black;
    color: white;
}
.modal-body{
    background: black;
}
.modal-body label{
    color: whitesmoke;
}
.modal-body input{
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.212);
}
.modal-footer{
    background: black;
}
.modal-footer #salvar{
    padding: 10px 40px;
    color: white;
    background: darkred;
    font: large;
    border: none;
    transition: all .2s;
}
.modal-footer #salvar:hover{
    box-shadow: 1px 1px 40px 10px darkred;
}

ul a{
    border-bottom: solid transparent;
    margin: 10px 5px;
    padding: 1em;
    padding-left: 100px;
    padding: 0 50px;
    text-align: center;
}
#sair_sessao{
    border: none;
    margin: auto;
}
#sair_sessao:hover{
    border: none;
    margin: auto;

}
 ul a:hover{
    border-bottom: solid darkred;
    color: white;
    transition: all .5s;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}
#recebeUsuario{
    color: white;
}
.card p{
    color: gray;
}
#fotoUsuarioSistema{
    border: solid 1px black;
    padding: 70px 70px;
    margin-left: 35%;
    border-radius: 50%;
}
footer .nav{
    background: black;
    padding: 20px;
    color: white;
}
.nav li img{
    border-radius: 50%;
}
#contaBotao{
    background: darkred;
    border: none;
    border-radius: 5px;
    font-size: larger;

}
#tabela_informacoes{
    left:30%;
    
}
